<form (ngSubmit)="onSubmit()">
  <div>
    <input type="text" class="form-control my-2" placeholder="Name" name="name" [(ngModel)]="product.name">
  </div>
  <div>
    <input type="text" class="form-control my-2" placeholder="Description" name="description"
      [(ngModel)]="product.description">
  </div>
  <div>
    <input type="number" class="form-control my-2" placeholder="Price" name="price" [(ngModel)]="product.price">
  </div>
  <div>
    <button type="submit" class="btn btn-primary my-2"> {{product.id >0 ? 'Update': 'Create'}}</button>
    <button type="button" class="btn btn-success my-2  mx-4" (click)="clean()"> Clean </button>
  </div>
</form>