<h1>Listado de productos!</h1>

<!-- FORM -->
<app-form [product]="productSelected()" (newProductEvent)="addProduct($event)">
</app-form>

<hr>

<!-- MENSAJE -->
<div class="alert alert-info" *ngIf="products().length === 0">
  Lo sentimos no hay registros en el sistema
</div>

<!-- TABLA -->
<table class="table table-striped" *ngIf="products().length > 0">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <td>Editar</td>
    </tr>
  </thead>

  <tbody>
    @for (prod of products(); track prod.id) {
    <tr>
      <td>{{ prod.id }}</td>
      <td>{{ prod.name }}</td>
      <td>{{ prod.description }}</td>
      <td>{{ prod.price }}</td>
    </tr>
    }
  </tbody>
</table>